.table {
    width: 1400px;
    height: 80px;
    background: #FBD00F;
    font-size: x-large;
    table-layout: fixed;
    color: #B2870A;
    text-align: center;
}

body {
    background-color: #F2F2F2;
    font-family: "Arial";
}

.block {
    font-size: small;
}

.disable {
    color: #E6BF0D;
}

.redText {
    color: #B64B0F;
}

.table2 {
    width: 1400px;
    padding: 10px;
}

.valid {
    width: 140px;
    text-align: right;
}

.table3 {
    width: 1400px;
    background-color: #F2F2F2;
    text-align: center;
}

.address {
    width: 270px;
    text-align: left;
    padding-left: 20px;

}

.word {
    text-align: right;
    width: 90px;

}

.address2 {
    width: 330px;
    text-align: left;
    padding-left: 10px;
}

.balance {
    width: 130px;
}

.balance2 {
    text-align: right;
    font-weight: 400;
}

.quantity {
    text-align: center;
    width: 470px;
}

.coments {
    text-align: left;
}

.allbutton:after{
    float: left;
    content: "";
    display: table;
    clear: both;
}

.twobutton{
    float: right;
}
.archive{
    cursor: pointer;
    margin-left: 10px;
    margin-top: 30px;
    background-color: #8DBD36;
    color: white;
    padding: 10px 0 10px 0;
    width: 170px;
}

.go{
    cursor: pointer;
    background-color: #DDDDDD;
    margin-left: 10px;
    margin-top: 30px;
    color: #B9B9B9;
    padding: 10px 0 10px 0;
    width: 170px;
}

.no{
    cursor: pointer;
    /*margin-left: 500px;*/
    background-color: #8DBD36;
    color: white;
    padding: 10px 0 10px 0;
    width: 170px;
}
