.table {
    width: 100%;
    height: 80px;
    background: #FBD00F;
    font-size: x-large;
    table-layout: fixed;
    color: #B2870A;
    text-align: center;
}

.vertical{
    vertical-align: middle;
}

body {
    background-color: #F2F2F2;
    font-family: "Arial";
}

.block {
    font-size: small;
}

.disable {
    color: #E6BF0D;
}

.redText {
    color: #B64B0F;
}

.table2 {
    width: 100%;
    padding: 10px;
}

.valid {
    width: 180px;
    /*text-align: right;*/
    padding-top: 10px;
}

.table3 {
    width: 100%;
    background-color: #F2F2F2;
    text-align: center;
}

.address {
    width: 370px;
    text-align: left;
    padding-left: 40px;

}

.word {
    /*text-align: right;*/
    width: 85px;

}

.address2 {
    width: 370px;
    text-align: left;
    padding-left: 40px;
}

.balance {
    width: 170px;
}

.balance2 {
    /*text-align: right;*/
    font-weight: 700;
    width: 170px;
}

.quantity {
    /*text-align: center;*/
    width: 490px;
}

.quantity2{
    width: 490px;
}

.coments {
    text-align: left;
    width: 420px;
}

.coments2{
    width: 420px;
    text-align: left;
}

.allbutton:after{
    float: left;
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

.archive{
    cursor: pointer;
    margin-left: 10px;
    margin-top: 40px;
    background-color: #8DBD36;
    color: white;
    padding: 10px 0 10px 0;
    width: 170px;
}

.go{
    cursor: pointer;
    background-color: #DDDDDD;
    margin-left: 10px;
    margin-top: 30px;
    color: #B9B9B9;
    padding: 10px 0 10px 0;
    width: 170px;
}

.no{
    cursor: pointer;
    margin-left: 870px;
    background-color: #8DBD36;
    color: white;
    padding: 10px 0 10px 0;
    width: 170px;
}
